 body {
   background: white;
   font-family: 'Interstate', sans-serif;
   color: black;
   font-weight: 100;
  //  margin-left: 5%;
  //  margin-right: 5%;
 }


 button, select,
input[type="submit"] {
  cursor: pointer; 
}

input:focus {
  border: 1px solid gray;
  border-radius: 5px;
}

textarea:focus {
  border: 1px solid gray;
  border-radius: 5px;
}






