.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  color: black;
  font-size: 18px;

}

.login-form-container {
   display: flex;
   justify-content: center;
}

 .login-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
   padding: 10px;
   line-height: 24px;
   width: 350px;
   height: 400px;
 }

 .login-input {
   display: flex;
   justify-content: center;
   padding: 7px 8px;
   border: 1px solid lightgray;
   border-radius: 5px;
   font-size: 18px;
   margin: 5px 0px 5px 0px;
 }

 .login-form-box {
   padding: 80px 20px 80px 20px;
   box-shadow: 0 0 1rem rgba(0,0,0,.2);
 }

.login-submit, .demo-user {
  /* display: inline-block; */
  border-radius: 4px;
  padding: 7px;
  text-align: center;
  background-color: #531699;
  color: white;
}

.login-submit:hover {
    background: #6735a0;
    transition-duration: 0.2s;
}

.demo-user:hover {
    background: #6735a0;
    transition-duration: 0.2s;
}

.session-form-or {
  text-align: center;
  padding: 20px 0px 5px 0px;
}

.login-errors {
  color: red;
  padding: 5px;
  margin: 5px;
}