.track-index-container {
  display: flex;
}

.track-index {
  display: flex;
}

.track-index-ul {
  display: flex;
  flex-direction: column;
}

.track-index-li {
  display: flex;
  flex-direction: column;
}

.track-index-title-link {
  
}

.track-index-image-link {
  
}

.track-index-image {
  width: 150px;
}

.track-index-artist-name {
  
}

.track-index-audio-controls {
  
}
