.upload-form-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  color: black;
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 0 1rem rgba(0,0,0,.2);
  // flex-direction: row;
}

.upload-files {

}

.image-preview-div {
  display: flex;
  margin: 10px 0px 10px 0px;
  width: 200px;
  height: 200px;
  border: 1px solid gray;
  text-align: center;
  color: gray;
  align-items: center;
  justify-content: center;
}

.upload-image-preview {
   width: 200px;
  height: 200px;
  object-fit: cover;
}

.upload-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  line-height: 24px;
}

.upload-header {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: 0.5px solid lightgray;
}

.upload-label {
  margin: 20px 0px 10px 0px;
}

.upload-input {
   display: flex;
   justify-content: center;
   padding: 7px 8px;
   border: 1px solid lightgray;
   border-radius: 5px;
   font-size: 18px;
   margin: 5px 0px 5px 0px;
   width: 350px;

}

.genre-dropdown {
  // -webkit-appearance: none;
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 250px;
  margin: 0px 0px 0px 10px;
  padding: 8px;
  background: white;
}


.genre-dropdown-item {
  -webkit-appearance: none;
  background: white;
}

.upload-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.upload-submit {
  border-radius: 4px;
  padding: 7px 15px 7px 15px;
  text-align: center;
  background-color: #531699;
  color: white;
}

.upload-cancel {
  border-radius: 4px;
  padding: 7px 15px 7px 15px;
  text-align: center;
  background-color: white;
  color: black;
}

.upload-errors {
  color: red;
  padding: 5px;
  margin: 5px;
}