.user-tracks-ul {
  margin: 20px;
}

.user-show-container {
  display: flex;
  margin: 20px;
  margin-top: 70px;
}

.user-track-container {
  display: flex;
  flex-direction: row;
  // border-top: 1px solid gray;
  // border-bottom: 1px solid gray;
}

.user-header {
  
}

.user-show-name {

}

.user-track-image {
  object-fit: cover;
  width: 150px;
  height: 150px;
  margin: 10px 0px 10px 0px;
  box-shadow: 0 0 1rem rgba(0,0,0,.2);
}


.user-show-image {
  object-fit: cover;
  width: 200px;
  height: 200px;
  margin: 10px;
  // box-shadow: 0 0 1rem rgba(0,0,0,.2);
  border-radius: 50%;
  overflow: hidden;
}