/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body {
   background: black;
   font-family: 'Lucida Grande', sans-serif;
   color: white;
   margin: 5px 0px 5px 0px;
 }

  .login-form-container {
   display: flex;
   justify-content: center;
   margin-top: 100px;
 }

 .login-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
 }

 .login-input {
   display: flex;
   justify-content: center;
 }

 .login-form-box {
   outline: 1px solid black;
   padding: 20px;
 }

 button,
input[type="submit"] {
  cursor: pointer;
}

.home-component {
  padding: 30px;
  /* background: url('priscilla-du-preez-de-HbaYzZqA-unsplash.jpg'); */
  height: 600px;
  background-size: cover;
}


.nav-bar {
  background-color: #30303C;
  display: flex;
  justify-content: space-between;
}

.nav-items-left {
  display: flex;
  justify-content: space-between;
  border-right: 1px solid black;
}
.nav-items-right {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  padding: 10px 20px 10px 20px;
  border-left: 1px solid black;
}

.nav-link:hover {
  background: rgb(66, 66, 83);
  
}

.logo-text {
  background: #531699;
}

.logo-text:hover {
  background: #6735a0;
  
}